<!--
File: app.component.html
Author: Zentai Pál
Copyright: 2023, Zentai Pál
Group: Szoft-II-N
Date: 2023-03-07
Github: https://github.com/Pali002/
Licenc: GNU GPL
-->

<h2 class="text-center mt-5">Tanulók megjelenítése táblázatban</h2>

<div class="container mt-3">
  
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/students">Tanulók</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">Névjegy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/github">Github</a>
    </li>
  </ul>

</div>

<router-outlet></router-outlet>